<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arvo"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="container" id="container">
      <div class="overlay-container">
        <form action="/register" method="POST">
          <h1>Sign Up</h1>
          <input type="email" name="email" placeholder="Email" />
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="Password" />
          <button>Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Hi There!</h1>
            <p>Enter your personal details to sign in an account with us</p>
            <button
              class="ghost"
              id="signUp"
              onclick="window.location.href='/login'"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
